@import '../../css/colors.css';

.container {
    width: 100%;
    height: 48px;
    background-color: var(--toolbar-background);
    border-color: var(--toolbar-border);
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fileContainer {
    margin: 10px;
}

.helpContainer {
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}