:root {
    /* background colors */
    --toolbar-background: #3C3C3C;
    --edit-tree-background: #2E2E2E;

    /* border colors */
    --toolbar-border: #4B5563;
    --edit-tree-border: #4B5563;

    /* text colors */
    --header-label-color: #FFFFFF;
}