:root {
    /* background colors */
    --toolbar-background: #3C3C3C;
    --edit-tree-background: #2E2E2E;
    --display-background: #1E1E1E;

    /* border colors */
    --toolbar-border: #4B5563;
    --edit-tree-border: #4B5563;
    --display-border: #4B5563;
    
    /* text colors */
    --header-label-color: #FFFFFF;
}