@import '../../css/colors.css';

.container {
    width: 320px;
    height: 100%;
    background-color: var(--tool-settings-background);
    border-color: var(--tool-settings-border);
    border: 1px solid;
}